*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --color-1:black;
    --color-2:white;
    --color-3:rgb(126, 126, 128);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

body{
    background-color: rgb(126, 126, 128);
}

header{
    padding: 30px 4%;
    background-color: var(--color-1);
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
width: 120px;
}

header .input-pesquisa input{
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 30px;
}
